[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiokafka = "*"
apache-beam = "*"
apache-flink = "*"
apache-flink-libraries = "*"
apache-flink-statefun = "*"
asgiref = "*"
asn1crypto = "*"
attrs = "*"
avro-python3 = "*"
beam-nuggets = "*"
boto3 = "*"
botocore = "*"
certifi = "*"
chardet = "*"
charset-normalizer = "*"
click = "*"
cloudpickle = "*"
confluent-kafka = "*"
crcmod = "*"
dill = "*"
docker = "*"
docopt = "*"
fastapi = "*"
fastavro = "*"
future = "*"
graphviz = "*"
greenlet = "*"
grpcio = "*"
gunicorn = "*"
h11 = "*"
hdfs = "*"
httplib2 = "*"
httpx = "*"
idna = "*"
iniconfig = "*"
jmespath = "*"
jsonpickle = "*"
kafka-python = "*"
libcst = "*"
matplotlib = "*"
mock = "*"
mypy-extensions = "*"
numpy = "*"
oauth2client = "*"
orjson = "*"
packaging = "*"
pandas = "*"
pbr = "*"
pg8000 = "*"
pluggy = "*"
proto-plus = "*"
protobuf = "*"
py = "*"
py4j = "*"
pyarrow = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pydantic = "*"
pydot = "*"
pymongo = "*"
pymysql = "*"
pynamodb = "*"
pyparsing = "*"
pytest = "*"
python-dateutil = "*"
python-dynamodb-lock-whatnick = "*"
pytz = "*"
pyyaml = "*"
requests = "*"
rsa = "*"
s3transfer = "*"
scramp = "*"
six = "*"
sniffio = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
starlette = "*"
starlette-graphene3 = "*"
toml = "*"
tomli = "*"
typing-extensions = "*"
typing-inspect = "*"
ujson = "*"
urllib3 = "*"
uvicorn = "*"
pyhamcrest = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
sync-setup = "pipenv-setup sync --pipfile"
pytest = "coverage run --source=stateflow -m pytest"
coverage = "coverage xml"
lint-errors = "flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics"
lint-warnings = "flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics"
